# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Windows
# -----------------------------
Thumbs.db
Desktop.ini

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Temporary notebooks
# -----------------------------
Untitled*.ipynb

# -----------------------------
# Python environments
# -----------------------------
.env
.venv
env/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Large output files
# -----------------------------
*.tif
*.tiff

# -----------------------------
# Generated figures
# -----------------------------
*.png
*.jpg
*.jpeg